* {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 10vh auto 5vh;
    grid-template-areas: 
    'hd hd hd'
    'as mn nv'
    'ft ft ft';
    gap: 2px;
    background-color: lightgray;
    overflow-y: hidden scroll;
}

header { 
    display: flex;
    grid-area: hd;
    background-color: darkslateblue;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 60px;
}

main {
    grid-area: mn;
    background-color: white;
}

aside {
    grid-area: as;
    background-color: white;
}

nav {
    grid-area: nv;
    background-color: white;
}

footer {
    grid-area: ft;
    background-color: darkslateblue;
}

#brand {
    display: flex;
    justify-self: left !important;
    font-size: 34px;
}

#rel-links a {
    color: white;
    text-decoration: none;
    font-size: 34px;
    justify-self: space-evenly;
}
