* {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 10vh auto 5vh;
    grid-template-areas: 
    'hd hd hd'
    'as mn nv'
    'ft ft ft';
    column-gap: 2px;
    background-color: lightgray;
    overflow-y: hidden scroll;
}

header { 
    display: flex;
    grid-area: hd;
    background-color: darkslateblue;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 60px;
}

main {
    grid-area: mn;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    grid-area: as;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-image: url("/img/texture.jpg");
    background-repeat:;
}

nav {
    grid-area: nv;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-image: url("/img/texture.jpg");
}

footer {
    grid-area: ft;
    background-color: darkslateblue;
}

#brand {
    display: flex;
    justify-self: left;
    font-size: 34px;
}

#brand-name {
    color: white;
    text-decoration: none;
}

#rel-links a, .menu-links {
    color: white;
    text-decoration: none;
    font-size: 34px;
}

#speaker-types {
    background-color: darkslateblue;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    align-content: center;
    justify-items: center;
    margin-bottom: 20px;
}

#amplifier-types {
    background-color: darkslateblue;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    align-content: center;
    justify-items: center;
    margin: 0 0 20px 0;
}

nav li {
    font-size: 21px;
    font-weight: bold;
    margin: 10px 10px 10px 0;
}

nav a {
    text-decoration: none;
}

#speaker-background {
    background-color: lightgray;
    width: auto;
    height: auto;
    padding: 5px 0 5px 0;
    border-radius: 12px;
    margin-bottom: 20px;
}

#amp-background {
    background-color: lightgray;
    width: auto;
    height: auto;
    padding: 5px 0 5px 0;
    border-radius: 12px;
}

.menu-button {
    background-color: darkslateblue;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    align-content: center;
    justify-items: center;
    cursor: pointer;
}

.menu{
    height: 100vh;
    width: 12.5vw;
    background: darkslateblue;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    padding: 10px;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}
